<div class="container d-flex align-items-center justify-content-center">
    <div class="row  col-12 col-sm-8 col-md-8 col-lg-8 col-xl-5 justify-content-center flex-column align-items-center">
        <h1 class="titulo-login"> Registrar usuario </h1>
        <form class="formulario" [formGroup]="userForm" (ngSubmit)="registerUser()">
            <div class="form-group">
                <label for="firstName"></label>
                <input id="firstName" name="firstName" formControlName="firstName" placeholder="Ingrese nombre" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label for="lastname"></label>
                <input id="lastname" name="lastname" formControlName="lastname" placeholder="Ingrese apellido" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label for="email"></label>
                <input id="email" name="email" formControlName="email" placeholder="Ingrese correo" type="email" class="form-control" />
            </div>

            <div class="form-group">
                <label for="password"></label>
                <input id="password" name="password" formControlName="password"  placeholder="Ingrese contraseña" type="password" class="form-control" />
            </div>

            <div *ngIf="!userForm.valid">
                <div class="text-danger ">
                    Debes llenar todos los campos
                </div>
            </div>

            <button type="submit" class="btn btn-info btn-login mt-2" ><i class="fas fa-sign-in-alt" ></i>Enviar</button>
           
            
        </form>
        <button class="btnregresar btn btn-info btn-login mt-2" routerLink="/"><i class="fas fa-chevron-circle-left"></i>Regresar</button>
    </div>
    
</div>