<div class="container d-flex align-items-center justify-content-center">
    <div class="row col-12 col-sm-8 col-md-8 col-lg-8 col-xl-5 justify-content-center flex-column align-items-center">
        <h2 class="titulo-login mt"> Crear serie</h2>

        <form class="formulario col-12" [formGroup]="serieForm" (ngSubmit)="registerSerie()" enctype="multipart/form-data">

            <div class="form-group">
                <label for="name"></label>
                <input id="name" name="name" formControlName="name" type="text" placeholder="Nombre de la serie"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="author"></label>
                <input id="author" name="author" formControlName="author" type="text" placeholder="Autor"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="genre"></label>
                <input id="genre" name="genre" formControlName="genre" type="text" placeholder="Género"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="sinopsis"></label>
                <input id="sinopsis" name="sinopsis" formControlName="sinopsis" type="text" placeholder="Sinopsis"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="precluela"></label>
                <input id="precluela" name="precluela" formControlName="precluela" type="text" placeholder="Precuela"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="secuela"></label>
                <input id="secuela" name="secuela" formControlName="secuela" type="text" placeholder="Secuela"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="numeroCapitulos"></label>
                <input id="numeroCapitulos" name="numeroCapitulos" min="1" formControlName="numeroCapitulos"
                    type="number" placeholder="Numero de capitulos" class="form-control">
            </div>

            <div class="form-group">
                <label for="file" style="color: white;"></label>
                <input id="file" name="file" formControlName="file" type="file" placeholder="Imagen de la serie"
                    (change)="prepareCap($event)" class="form-control">
            </div>

            <div
                *ngIf="!serieForm.get('name').valid || !serieForm.get('author').valid  || !serieForm.get('genre').valid || !serieForm.get('sinopsis').valid || !serieForm.get('precluela').valid|| !serieForm.get('secuela').valid|| !serieForm.get('numeroCapitulos').valid || !serieForm.get('file').valid">
                <div class="text-danger">
                    Debes llenar todos los campos
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info btn-login mt-2"><i
                        class="fas fa-sign-in-alt"></i>Enviar</button>
            </div>

        </form>
    </div>
</div>