<div *ngIf="!user" class="container contenedor d-flex justify-content-center ">
    <div class="col-8 container-btn row justify-content-around align-items-center">
        <div routerLink="/registrarUsuario" class="btn-big1">
            <svg height="80" width="80" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path style="fill:#BF1564;" d="M318.136,458.514H49.709v-84.505c0.06-41.159,33.404-74.503,74.563-74.563h97.727h4.971
	c81.642,0.338,148.112-65.566,148.45-147.217c0.338-81.652-65.566-148.102-147.217-148.45S80.101,69.354,79.753,150.996
	c-0.149,36.377,13.113,71.531,37.262,98.741C51.25,253.635-0.06,308.135,0,374.009v109.359c0,13.73,11.125,24.854,24.854,24.854
	h293.282c13.73,0,24.854-11.125,24.854-24.854S331.866,458.514,318.136,458.514z M226.97,54.879
	c53.845,1.541,96.246,46.428,94.705,100.272c-1.442,50.604-41.378,91.693-91.921,94.586h-7.755
	c-53.755-3.38-94.596-49.699-91.216-103.454C133.985,95.332,175.929,55.476,226.97,54.879z" />
                <g>
                    <path style="fill:#BF1564;" d="M487.146,398.864H338.019c-13.73,0-24.854-11.125-24.854-24.854s11.125-24.854,24.854-24.854
		h149.126c13.73,0,24.854,11.125,24.854,24.854S500.875,398.864,487.146,398.864z" />
                    <path style="fill:#BF1564;"
                        d="M412.583,473.427c-13.73,0-24.854-11.125-24.854-24.854V299.446
		c0-13.73,11.125-24.854,24.854-24.854s24.854,11.125,24.854,24.854v149.126C437.437,462.302,426.312,473.427,412.583,473.427z" />
                </g>
            </svg>

            <p class="texto">Registro</p>
        </div>
        <div routerLink="/login" class="btn-big2 ">
            <svg id="Solid" height="80" viewBox="0 0 512 512" width="80" xmlns="http://www.w3.org/2000/svg">
                <path fill="#BF1564"
                    d="m464 488h-352a24 24 0 0 1 -24-24v-96a24 24 0 0 1 48 0v72h304v-368h-304v72a24 24 0 0 1 -48 0v-96a24 24 0 0 1 24-24h352a24 24 0 0 1 24 24v416a24 24 0 0 1 -24 24zm-178.667-232-32-24h-205.333a24 24 0 0 0 0 48h205.333zm-46.933 115.2 128-96a24 24 0 0 0 0-38.4l-128-96a24 24 0 0 0 -28.8 38.4l102.4 76.8-102.4 76.8a24 24 0 1 0 28.8 38.4z" />
            </svg>
            <p class="texto">Ingresar</p>
        </div>
    </div>

</div>
<!---------------------------------------- Home con user logeado ----------------------------------->
<div *ngIf="user" class="margen">
    <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active relativo">
                <img src="assets\wallpapers\goku-super-saiyan-blue-and-black-goku-ssr-dragon-ball-super_1280x720_xtrafondos.com.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block absoluto">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item relativo">
                <img src="assets\wallpapers\amanecer-anime-chica-silueta-paisaje_1280x720_xtrafondos.com.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block absoluto">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
           
            <div class="carousel-item  relativo">
                <img src="assets\wallpapers\img2.jpg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block absoluto">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item relativo">
                <img src="assets\wallpapers\img1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block absoluto">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class="carousel-item relativo">
                <img src="assets/wallpapers/img4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block absoluto">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="contenedor">
        <div class="row">
            <div class="col-md-6">
                <a class="block block-transparent bg-image block-bordered block-rounded link-noticias imgback1"
                    data-toggle="click-ripple">
                    <div class="block-content ribbon ribbon-warning ribbon-bottom bg-black-10">
                        <div class="ribbon-box ribbon-top-left">
                            <span class="font-w700">Muy pronto</span>
                        </div>
                        <div class="pt-4 pb-6 px-md-3 subtitle">
                            <h3 class="h1 font-w700 text-white mb-1" style="text-shadow: 2px 2px #242424;">Novedades
                            </h3>
                            <h5 class="font-w400 text-white" style="text-shadow: 2px 2px #242424;">Noticias
                                anime</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="block block-transparent bg-image block-bordered block-rounded link-noticias  imgback2"
                    data-toggle="click-ripple">
                    <div class="block-content ribbon ribbon-warning ribbon-bottom bg-black-10">
                        <div class="ribbon-box ribbon-top-left">
                            <span class="font-w700">Muy pronto</span>
                        </div>
                        <div class="pt-4 pb-6 px-md-3 subtitle">
                            <h3 class="h1 font-w700 text-white mb-1" style="text-shadow: 2px 2px #242424;">Novedades
                            </h3>
                            <h5 class="font-w400 text-white" style="text-shadow: 2px 2px #242424;">Noticias
                                anime</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="block block-transparent block-bordered block-rounded link-noticias bg-2" data-toggle="click-ripple"
                    style="height:696px;padding-top: 0;background-image: none;">
                    <a class="twitter-timeline" href="https://twitter.com/Anime?ref_src=twsrc%5Etfw" data-theme="dark"
                        data-height="692px" data-chrome="transparent">Tweets by Anime</a>
                </a>
            </div>


            <div class="col-md-6">
                <a class="block block-transparent bg-image block-bordered block-rounded link-noticias imgback3"
                    data-toggle="click-ripple">
                    <div class="block-content ribbon ribbon-warning ribbon-bottom bg-black-10">
                        <div class="ribbon-box ribbon-top-left">
                            <span class="font-w700">Muy pronto</span>
                        </div>
                        <div class="pt-4 pb-6 px-md-3 subtitle">
                            <h3 class="h1 font-w700 text-white mb-1" style="text-shadow: 2px 2px #242424;">Novedades
                            </h3>
                            <h5 class="font-w400 text-white" style="text-shadow: 2px 2px #242424;">Noticias
                                anime</h5>
                        </div>
                    </div>
                </a>
                <a class="block block-transparent bg-image block-bordered block-rounded link-noticias imgback4"
                    data-toggle="click-ripple">
                    <div class="block-content ribbon ribbon-warning ribbon-bottom bg-black-10">
                        <div class="ribbon-box ribbon-top-left">
                            <span class="font-w700">Muy pronto</span>
                        </div>
                        <div class="pt-4 pb-6 px-md-3 subtitle">
                            <h3 class="h1 font-w700 text-white mb-1" style="text-shadow: 2px 2px #242424;">Novedades
                            </h3>
                            <h5 class="font-w400 text-white" style="text-shadow: 2px 2px #242424;">Noticias
                                anime</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- <div class="row">
    </div> -->


    </div>