.container{
    font-family: 'Fira Sans Condensed', sans-serif;
}
.music-icon {
    font-size: 200px;
    color: blueviolet;
}

.icon-player {
    font-size: 30px;
    color: blueviolet;
}
hr{
    color: #bf1564;
    background: #bf1564;
    width: 100%;
}
.informacion{
    color: white;
}
.cap-container{
    cursor: pointer;
    border-right: 2px solid #bf1564;
    text-align: center;
    color: white;
    margin: 0 0 5px 0;
    width: 57%;
    
}
.cap-container:hover{
    background-color: #4c5964;
}

.carrusel {
    width: 100%;
    }
    .carrusel2{
        width: 30px;
margin-right: 0;


    }
    .swiper-wrapper {
        
        transform: translate3d(-28px, 0px, 0px);
        }  

.nombreSerie{
    text-align: center;
}        
.sinopsisSerie{
    margin-bottom: 0;
    text-align: center;
}
.containerPrincipal{
    margin-top: -50px;
}
    
   

   /*  .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
       */

      /* Center slide text vertically */
      /* display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; */
    
