/* You can add global styles to this file, and also import other style files */
:root {
    
    --swiper-theme-color: #20ff00;
    }
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #313940;
}

.ng-invalid {
    border-color: red;
}
.heart-fill{
    fill: white !important;
}